<% for column in Owner.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @owner.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @owner %> |
<%= link_to 'Back', :action => 'list' %>
